<main class="w-full flex h-[100vh] justify-center items-center bg-Cream">
  
  <main class="flex-col flex bg-white m-[15px] rounded-lg shadow-lg w-[350px] md:flex-row md:w-[700px] md:items-center">
    <section class="flex md:hidden">
      <img src="../assets/images/image-product-mobile.jpg" alt="image" class="rounded-t-lg">
    </section>
    <section class="hidden md:flex">
      <img src="../assets/images/image-product-desktop.jpg" alt="image" class="rounded-l-lg">
    </section>
    <section class="p-[20px]">
      <p class="font-montreg text-[14px] font-light text-DarkGrayishBlue">Perfume</p>
      <h2 class="font-fraunces text-[28px] my-[5px]">
        Gabrielle Essence Eau De Parfum
      </h2>
      <p class="my-[10px] font-montreg font-light text-DarkGrayishBlue">
        A floral, solar and voluptuous interpretation composed by Olivier Polge, 
        Perfumer-Creator for the House of CHANEL.
      </p>
      <section class="flex items-center">
        <h3 class="font-fraunces text-Darkcyan text-[30px]">$149.99</h3>
        <h6 class="line-through ml-[13px] text-[14px] font-light text-DarkGrayishBlue">$169.99</h6>
      </section>
      <section>

        <button class="w-full mx-auto flex justify-center items-center p-[5px] ease-in-out duration-500 hover:bg-DarkGrayishBlue font-montreg font-medium text-white my-[10px] bg-Darkcyan rounded-lg ">
          <img src="../assets/images/icon-cart.svg" alt="" class="my-[10px] mx-[10px]">Add to cart
        </button>

      </section>
    </section>
  </main>

</main>
<footer>
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Lazare Mirziashvili</a>.
</footer>